/** @format */

body {
    margin: 0;
    width: 100%;
}

.container {
    display: flex;
    flex-flow: column wrap;
    /* justify-items: center;
    justify-content: center; */
    /* padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; */
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    background: peachpuff;
}

.navigation a {
    padding: 1em;
    display: block;
}

.manga-thumbnail {
    /* background-color: burlywood; */
    padding: 4px;
    width: auto;
    height: auto;
    display: block;
    height: 100%;
    width: 100%;
}

.manga-thumbnail img {
    position: relative;
    float: left;
    width: 100%;
    height: 17em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.manga-thumbnail img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    object-fit: cover;
}

#manga-container {
    display: grid;
    gap: 0.2em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 225px));
    align-items: flex-start;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
}

h6 {
    /* font-size: 12px */
    font-size: 1.3em;
}

.title {
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin: 0; */

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#manga-info {
    width: 1fr;
}

.manga-info {
    margin: 1fr;
}

#manga-pages,
#scroll-view {
    display: flex;
    flex-flow: column;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    img {
        width: 70%;
        height: auto;
    }
}

@media only screen and (max-width: 800px) {
    img {
        width: 100%;
        height: auto;
    }
}

/* ------------------------------------------------- */
