<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga Reader</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body onload="displayMangaPages(JSON.stringify({{manga}}))">
    <div class="container" id="container">
        <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/CompletedManga">Completed Manga</a></li>
        </ul>
        <!-- Rounded switch -->
        <h2>Toggle ScrollView</h2>
        <label class="switch">
            <input type="checkbox" onclick="toggle()">
            <span class="slider round"></span>
        </label>

        <div id="manga-pages">
            <img id="single-page"></img>
        </div>
    </div>
    <script src="/js/script.js" defer></script>
</body>
</html>